
//HEADER
//HEADER TITLE

a {
    color: inherit;
}

h1 {
    font-size: 5.2rem;
    font-family: $font-primary;
    font-weight: 700;
    line-height: 6.68rem;
    letter-spacing: -0.03em;

    @include respond (SCLaptop) {
        font-size: 4rem;
        line-height: 4.68rem;
    }
    
    @include respond (phone) {
        font-size: 2.6rem;
        line-height: 2.8rem;
    }
}

// TEXT UNDER THE H1 IN THE HEADER'S TITLE

h3 {
    font-family: $font-display;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.34rem;

    @include respond (SCLaptop) {
        font-size: 1.6rem;
    }

    @include respond (phone) {
        font-size: 1.5rem;
        line-height: 1.9rem;
    }

    span {
        font-weight: 600;
    }
  
}

h4 {
    font-family: $font-display;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.08rem; 
    margin-top:3rem;
    text-transform: uppercase;
    
    @include respond (phone) {
        margin-top:0;
    }

}

.header_main-services-box-text {
    @include greyParagraph;
}

.new-color {
    color: #1f3d76 !important;
}

.background-h1-cover {
    padding: .1rem;

}

.main-title-linear {
    background-image: linear-gradient(to right, #a00dcc 0%, #FF006B 30%, #a00dcc 90%);
    -webkit-background-clip: text;
    color: transparent;
}

/*****************************************************************************************************/

// NAME OF EACH SECTION AT THE TOP OF THE SECTIONS

h2 {
    font-family:$font-primary;
    font-size: 4.2rem;
    line-height: 4.5rem;
    font-weight: 700;

    @include respond (phone) {
        font-size: 3rem;
        width: 50%;
        line-height: 3.5rem;
    }
}

// H2 COLOR WHITE (CONTACT FORM)
.color-white {
    color: white;
}

/*****************************************************************************************************/

// OUR WORKS (SECTION 2 AFTER HEADER)


.clinet {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #184293;
    line-height: 19.5px;
    margin-top: 10px;
}

.name-of-business {
    font-size: 28px;
    margin-top: 1px;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 42px;
   
    @include linearBlue;
   
}

.name-of-business-text {
    @include greyParagraph;
}

.name-of-business-text {
    line-height: 20px;
}

.name-of-business-2 {
    @include greyParagraph;
    margin-top: 5px;
}

.visit-the-website {
    font-family: $font-display;
    padding: 2rem 0;
    font-weight: 500;
    text-decoration: underline;
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 2rem;
    line-height: 19.5px;
    text-transform: uppercase;
    background-image: linear-gradient(270deg, #FF5C00 0%, #FF006B 100%);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

/*****************************************************************************************************/

// PROCESES 


.head-number {
    
    font-family: $font-primary;
    font-weight: 900;
    font-size: 4rem;
    line-height: 6rem;
    @include linearBlue;
    padding: 0 1rem;

}

.head-text {
    font-family: $font-display;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.08rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.process-text {
    @include greyParagraph;
    font-weight: 400 !important;

}


/*****************************************************************************************************/

//PACKAGES

.packages_container-box {

    &-popular {

        p {

        font-family: $font-display;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.95rem;
        text-align: center;
        text-transform: uppercase;
        @include linearOrange;
        }

    }
   
   &-title {
        @include linearBlue;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 3.8rem;
        line-height: 5.7rem;
    }

    &-text {
        @include greyParagraph;
    }

    &-featuresbox {
        
        p {
            font-family: $font-display;
           // old font-weight: 500;
            
           font-size: 1.6rem;
            line-height: 2rem;
           // OLD color: #6F6F6F;
            color: #4c4c4c;
            
        }
    }

}

.from {
    font-family: $font-display;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.95rem;
    font-weight: 500;
}

.from-p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* darkblue */

    color: #184293;

    @include respond (phone) {
        font-size: 10px;

    }
}

.price {
     @include linearOrange;
    font-family: $font-primary;
    font-size: 2.8rem;
    line-height: 4.2rem;
    font-weight: 700;

    @include respond (SMphone) {
        font-size: 2.5rem;

    }

    &-break {  
        line-height: 3.6rem;      
        text-align: center;
        
    }

}

.learnmore {
    font-family: $font-display;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.9rem;
    margin-top: 2rem;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.4s;


}

/*****************************************************************************************************/

/*****************************************************************************************************/

//REVIEWS

.reviews_container_box {

    &-name {
        font-family: $font-primary;
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 3.3rem;
        text-align: center;
        @include linearBlue;


    }

    &-filed {
        font-family: $font-display;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-align: center;
    }

    &-website {
        font-family: $font-display;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-transform: uppercase;
        text-align: center;
    }

    &-text {
        font-family: $font-display;
        font-weight: 400;
        letter-spacing: -0.02em;
        font-size: 1.5rem;
        line-height: 2.25rem;

        
        span {
            @include linearOrange;
            font-weight: 500;
            font-family: inherit;
            display: inline-block;
            font-size: 1.3rem;
            line-height: 150%;
            cursor: pointer;
            position: relative;

            &::after {
                content: "";
                height: 1.6px;
                width: 67px;
                display: block;
                background-image: linear-gradient(270deg, #FF5C00 0%, #FF006B 100%);
                top: 1.7rem;
                opacity: 0;
                transition: 0.2s;
                position: absolute;
            }
        
            &:hover {
        
                &::after {
                    opacity: 1;
                }
            }


        }

        &::before {
            content: "";
            background-image: url('/img/idj.svg');
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top:-1.5rem;
            font-size: 5.3rem;
            position: absolute;
            color: rgba(255, 0, 122, 0.2);

        }
    }

}


/*****************************************************************************************************/
/*****************************************************************************************************/

//DETAILED PACKAGES TABLE


    .fonst-size-price {
        font-size: 2rem !important;
        line-height: 26px;
        text-align: center;

        @include respond (SCtablet) {
            font-size: 1.6rem !important;
            letter-spacing: -0.5px;
        }

        @include respond (phone) {
            font-size: 1.3rem !important;
            line-height: 17px;
        }

        @media screen and  (max-width: 380px ) { 
            font-size: 1.2rem !important;

        }

    }



    .packagetitle {
        font-family: $font-primary;
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 5.8rem;
        text-align: center;
        @include linearBlue;
        position: relative;

        @include respond (SCLaptop) {
            font-size: 3rem ;
        }

    }


    .descript  {     
            font-family: $font-display; 
            font-size: 15px;
            font-weight: 400;
            line-height: 22.5px;
            color: #6F6F6F;

            
    }

    .bposi,
    .bp {
            font-family: $font-display; 
            font-weight: 400;
            font-size: 14px;
            line-height: 2.1rem;
            color: #494949;

            span {
                line-height: 2rem;
                color: $color-primary;

                @include respond (phone) {
                    line-height: 1.5rem;  
                    text-align: center;
                }
            }

            @include respond (phone) {
                font-size: 12px;
                line-height: 1.5rem;
            }

    }


/*****************************************************************************************************/
/*****************************************************************************************************/

//PROVATE POLICY 
  
.policy-title-mian {
    font-size: 4rem !important;
    color: $color-nav;
    margin-bottom: 2rem !important;

    @include respond (phone) {
        font-size: 3rem !important;
    }
}

.policy-title {
    font-size: 3rem !important;
    color: $color-nav;
    margin-bottom: 1.2rem !important;
    
    @include respond (phone) {
        font-size: 2.5rem !important;
        width: 100%;
    }

}

.policy-txt {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: $color-paragraph;
    font-family: $font-display;
}

.policy-margin {
    margin-top: 3rem !important;
    margin-bottom: 1rem;
}

.policy-margin-bottom {
    margin-bottom: 1rem;
}

.policy-margin-bottom li{
    margin-left: 2rem;
    margin-bottom: 1rem;
}

/*****************************************************************************************************/
/*****************************************************************************************************/

//CSOMAG KISOKOS

/*****************************************************************************************************/
/*****************************************************************************************************/

//PRICE LIST

.price-h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--colrpPriceText);
    margin-bottom: 4rem;

    h2 {
        font-size: 5rem !important;
        text-align: center;
        line-height: 140%;

        @include respond (tablet) {
            font-size: 4rem !important;
        }

        @include respond (phone) {
            font-size: 3rem !important;
            width: 100% !important;
        }

        @include respond (SMphone) {
            font-size: 2.6rem !important;
            width: 100% !important;
        }

    }

  }

  th {
    p {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;

      background: linear-gradient(270deg, #FF5C00 0%, #FF006B 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @include respond (tablet) {
        font-size: 22px;
        }

        @include respond (phone) {
            font-size: 15px;
        }

        
    }

    span {
      @include textprice;
     
      @include respond (tablet) {
        font-size: 18px !important;

        }
        @include respond (phone) {
            font-size: 14px !important;
    
        }
    }

  }

  td {

    .p-title {
  
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
      background: linear-gradient(265.45deg, #7000FF -35.65%, #00B2FF 69.11%, #00D0DD 142.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
   
      @include respond (tablet) {
        font-size: 24px;
        }

        @include respond (phone) {
            font-size: 20px;
            }

        @include respond (SMphone) {
            font-size: 15px;
            }    
   
    }




    span {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 130%;
    
      text-decoration-line: underline;
      text-transform: uppercase;
      color: var(--colrpPriceText);
      
      @include respond (phone) {
        font-size: 10px;
        }

    }

  }

  .extra {

    p {
      @include textprice;
      color: #FFFFFF !important;
      text-align: center;
    }

  }

  .aud-container {

    a {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-decoration-line: underline;
      margin-top: 1rem;
      color: var(--colrpPriceText);

      @include respond (phone) {
        font-size: 14px !important;
    }


    }
  
  }

  .td-price {
    @include respond (phone) {
        font-size: 14px !important;
    }
  }