
// BUTTON-HEADER

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}


.cursor {
    width: 50px;
    height: 50px;
   border-radius: 50%;
    // display: flex;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
   // color:rgba(255, 255, 255, 0.973);
    font-weight: 300;
    text-align: center;
    font-size: .5rem;
    line-height: 15px;
    letter-spacing: 2px;
   // border: 1px solid #e0eaff;
    backdrop-filter: blur(3px);
    background-image: url(/img/pointer.png);
    background-size: cover;
    background-color:transparent;
    background-position-x: -2px;
    overflow: visible;
    
    
}



.cursor-addclass{
    opacity: 1;
    transform: scale(2);
    animation: cursoreMove 3s infinite;
    color: rgba(255, 255, 255, 0.863);

    
}


 /* @keyframes cursoreMove // {
    0% {
        transform: scale(2);
        box-shadow: none;
        color:rgb(212, 197, 197);
    }

    50% {
        transform: scale(2.5);
        box-shadow: 0 1rem 4rem rgba(255, 255, 255, 0.25);
    }

    70% {
        transform: scale(2.5);
        box-shadow: 0 1rem 4rem rgba(250, 59, 59, 0.25);
    }

    100% {
        transform: scale(2);
        box-shadow: none;
    }
    


}*/



