.detailed {
    background-color: white;
    height: auto;
    width: 100%;
    @include sectionPosition;

    @include respond (phone) {
        margin-top:10rem;
    }

    &_main-head {
        @include mainHeadTextPosition;
        z-index: 1;
    }

    &_container {
        width: 90%;
        display: grid;
        grid-template-rows: 17rem 18rem 6.1rem repeat(24, 8.2rem);
        grid-template-columns: repeat(4, minmax(min-content, 27rem));
        justify-content: center;

        @include respond (phone) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 6rem 0rem 5.1rem repeat(24, 5.1rem);
        }

        

        .featured-container {

            .featured-text {
                @include linearOrange;
                font-family: $font-display;
                font-size: 1.5rem;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1.9rem;
            }

            display: flex;
            align-items: center;
            text-align: center;
            grid-row: 1;
            grid-column: 3;
            width: 19rem;
            height: 5.8rem;
            background-image: linear-gradient(270deg, rgba(255, 92, 0, 0.1) 0%, rgba(255, 0, 107, 0.1) 100%);
            border-radius: 6px;
            
            @include respond (phone) {
                display: none;
            }
        }

        .packagetitle {
            padding-top: 9.5rem;

            @include respond (phone) {
                padding-top: 0rem;
                font-size: 1.5rem;
                
            }
        }

        .bposi-title {
            display: flex;
            justify-content: center;
            padding: 20px 20px;
            border: 1px solid rgba(24, 66, 147, 0.2);


        }

        .descript {
            @include respond (phone) {
                display: none;
            }
        }

        .bp {
            border: 1px solid rgba(24, 66, 147, 0.2);
            display: flex;
            align-items: center;
            padding-left: 3.5rem;

            @include respond (phone) {
                padding-left: 0.5rem;

            }
        
        }

        .bposi {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(24, 66, 147, 0.2);

            img {
                width: 2.5rem;
                height: 2.5rem;

                @include respond (phone) {    
                    width: 1.5rem;
                    height: 1.5rem;
                }

            }
        }

    }



}