
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16xp = 62.5% = 1 rem
    scroll-behavior: smooth;
    @include respond (phone) {
        scroll-behavior: auto;
     }
}

body {
    font-family: $font-primary;
    color: $color-primary;
    background-color: $color-secondary-backgroung;
    zoom: 95%;
    -ms-zoom: 95%;
    -webkit-zoom: 95%;

    @media screen and (max-width: 1500px) and (min-width: 600px) {
            zoom: 85%;
            -ms-zoom: 85%;
            -webkit-zoom: 85%;
      }
}



iframe[src^='https://www.google.com/recaptcha/api2/anchor'] {
    position: relative;
    z-index: 9999; /* or any other value you want */
  }


.grecaptcha-badge {
    z-index: 99999;
    display:block !important;
 }