.nav {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  position: relative;

  @include respond(tablet) {
    display: none;
  }

  &_dropdown {
    display: flex;
    flex-direction: column;
  }

  &_logo {
    height: 100%;
    display: flex;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    img {
      height: 5rem;
      width: auto;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }

    &-mobile {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;

      img {
        height: 4.5rem;
        width: auto;
      }
    }
  }

  &_list {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &_item:not(:last-child) {
    margin-right: 2.5rem;

    @include respond(SCLaptop) {
      margin-right: 2rem;
    }
  }

  &_link:link,
  &_link:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-display;
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-nav;
    transition: all 0.1s ease;

    &:hover {
      background-image: linear-gradient(270deg, #ff5c00 0%, #ff006b 100%);
      -webkit-background-clip: text;
      color: transparent;
    }

    @include respond(SCLaptop) {
      font-size: 1.4rem;
    }

    span {
      color: #ffffff;
      background: #184293;
      padding: 1.5rem 2rem 1.5rem1.5rem;
      border-radius: 1rem;
      padding: 2rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }

  span:hover {
    background: #5d7cb6;
  }
}

.nav-secound {
  width: 100%;
  min-height: 8rem;
  display: flex;
  background-color: $color-main-backgroung;
  display: none;

  @include respond(phone) {
    display: flex;
  }
}

//NAV BOTTOM

.nav_bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 5% 90% 5%;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    height: 40rem;
    justify-content: center;
    align-items: center;
  }

  &_logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    grid-column: 2;
    grid-row: 1;
    cursor: pointer;

    img {
      height: 5rem;
    }

    &-mobile {
      position: absolute;
      top: 1rem;
      left: 1rem;
      display: flex;
      align-items: center;
      justify-content: start;

      img {
        height: 4.5rem;
       width: auto;
      }
    }
  }

  &_list {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
  }

  &_item:not(:last-child) {
    margin-right: 4rem;

    @include respond(phone) {
      margin-right: 0;
    }
  }

  &_item {
    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }

  &_link:link,
  &_link:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-display;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-nav;

    span {
      @include linearOrange;
    }
  }
}

// STICKY NAVIGATION WHEN WE REACH A CERTAIN POSITION

nav.sticky {
  position: fixed;
  height: 10rem;
  opacity: 96%;
  // background-color: #edf7fd;
  background: #fff;
  z-index: 9999999;
  // transition: all .2s ease-in-out ;
  box-shadow: 0px 15px 25px -19px rgba(150, 150, 150, 0.24);
}

.nav-sticky-prefix {
  height: 10rem;
  width: 100%;
}

// DROPDOWN MENU

.dd-menu {
  color: #ff006b;
}

.nav_dropdown {
  position: relative;
  transition: all 75ms ease-in;
}

.nav_dropdown:before {
  content: "";
  background-color: #f5faff;
  width: 26rem;
  height: 14rem;
  position: absolute;
  top: 28px;
  right: -106px;
  border-radius: 10px;
  opacity: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.nav_dropdown:hover:before {
  opacity: 1;
}

.hidden {
  display: none;
  position: absolute;
  width: 30rem;
  height: 5rem;
  font-family: $font-display;
  font-size: 1.4rem;
  font-weight: 500;
  color: $color-nav;
  text-decoration: none;
  text-transform: uppercase;
}

.hidden:nth-child(2) {
  top: 45px;
}

.hidden:nth-child(3) {
  top: 75px;
}

.hidden:nth-child(4) {
  top: 105px;
}

.hidden:nth-child(5) {
  top: 135px;
}

.hidden:nth-child(6) {
  top: 160px;
}

.hidden:hover {
  @include linearOrange;
}

.nav_dropdown:hover .hidden {
  display: block;
}

.nav_dropdown:hover {
  padding-bottom: 2rem;
  margin-top: 1rem;
}

.nav_dropdown:hover .dd-menu {
  color: $color-nav;
}

.nav-active-color {
  background-image: linear-gradient(
    270deg,
    #ff5c00 0%,
    #ff006b 100%
  ) !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}

.nav-active-color-footer {
  color: #ff5c00;
  font-weight: bolder;
}
