
.nav {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    position: relative;

        @include respond (tablet) {
        display: none;
    }

    &_dropdown {
        display: flex;
        flex-direction: column;
    }

    &_logo {
        height: 100%;
        display: flex;
        align-items: center;
        grid-column: 2;
        grid-row: 1;    
        img {
            height:5rem;
            width: auto;
            position: relative;
            z-index: 1;
            cursor: pointer;
        }
        
        &-mobile {

            position: absolute;
            top:1.5rem;
            left: 1.5rem;

            img {
                height: 4.5rem;
                
            }
            
        }
        
    }

        
    &_list {    
            display: flex;
            grid-column: 2;
            grid-row: 1;
            list-style: none;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            
        }



    &_item:not(:last-child) {
            margin-right: 2.5rem;

            @include respond (SCLaptop) {
                margin-right: 2rem;
            }
            
        }

    &_link:link,
    &_link:visited {

       
         text-transform: uppercase;
         text-decoration: none;
         font-family: $font-display;
         font-size: 1.4rem;
         font-weight: 500;
         color: $color-nav;


         @include respond (SCLaptop) {
            font-size: 1.4rem;
        }
        
         
         span {  
            color: #ffffff;
            background: #253e6c;
            padding: 1.5rem 2rem 1.5rem1.5rem;
            border-radius: 1rem;
            padding: 2rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);              
        } 
         }

         span:hover {
            background: #354c77;

         }
  
}

.nav-secound {
    width: 100%;
    min-height: 8rem;
    display: flex;
    background-color: $color-main-backgroung;  
    display: none;

    @include respond (phone) {
        display: flex;
      
    }

}



//NAV BOTTOM


.nav_bottom {
        
    width: 100%;
    display: grid;
    grid-template-columns: 5% 90% 5%;

        @include respond (phone) {
        display: flex;
        flex-direction: column;
        height: 40rem;
        justify-content: center;
        align-items: center;
    }

    &_logo {
        height: 100%;
        display: flex;
        align-items: center;
        grid-column: 2;
        grid-row: 1;
        cursor: pointer;
       
        img {
           height: 5rem;
        }
        
        &-mobile {

            position: absolute;
            top:1rem;
            left: 1rem;

            img {
                height: 4.5rem;
            }
            
        }
        
    }

        
    &_list {    
            display: flex;
            grid-column: 2;
            grid-row: 1;
            list-style: none;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            @include respond (phone) {
                display: flex;
                flex-direction: column;
            }
            
        }

    &_item:not(:last-child) {
            margin-right: 4rem;
            
            @include respond (phone) {
                margin-right: 0;

            }
        }


    &_item {

               
        @include respond (phone) {
            margin-bottom: 3rem;
            }
        }

    &_link:link,
    &_link:visited {
         text-transform: uppercase;
         text-decoration: none;
         font-family: $font-display;
         font-size: 1.5rem;
         font-weight: 500;
         color: $color-nav;
         
            span {  
                @include linearOrange;
              } 
            
         }
  
}



// STICKY NAVIGATION WHEN WE REACH A CERTAIN POSITION

nav.sticky {
    position: fixed;
    height: 10rem;
    opacity: 96%;
    // background-color: #edf7fd;
    background: #fff;
    z-index: 1000001101010000;
   // transition: all .2s ease-in-out ;

}

.nav-sticky-prefix {
    height: 10rem;
    width: 100%;
}

// DROPDOWN MENU

.dd-menu {
    color: #FF006B;
}

.nav_dropdown {
    position: relative;
    transition: all 75ms ease-in;
}

.nav_dropdown:before {
    content: '';
    background-color: $color-main-backgroung;
    width: 22rem;
    height: 12rem;
    position: absolute;
    top: 30px;
    right: -79px;
    border-radius: 10px;
    opacity: 0;
}

.nav_dropdown:hover:before {
    opacity: 1;

}



.hidden {
    display: none;
    position: absolute;
    width: 30rem;
    height: 5rem;
    font-family: $font-display;
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-nav;
    text-decoration: none;
    text-transform: uppercase;
}

.hidden:nth-child(2) {
    top: 40px;
    
}

.hidden:nth-child(3) {
    top: 80px;
}

.hidden:nth-child(4) {
    top: 120px;
}

.hidden:hover {
    background-image: linear-gradient(270deg, #184293 0%, #FF006B 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.nav_dropdown:hover .hidden  {
    display: block;   
}

.nav_dropdown:hover  {
    padding-bottom: 2rem;
    margin-top: 1rem;
}

.nav_dropdown:hover .dd-menu {
    color: $color-nav;
}
