.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;

  @include respond(tablet) {
    width: 80%;
  }

  @include respond(phone) {
    width: 90%;
  }

  overflow: hidden;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination-bullet-active {
  background: linear-gradient(270deg, #ff5c00 0%, #ff006b 100%) !important;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 4rem !important;
}

.swiper-pagination-bullet {
  width: 2.3rem !important;
  height: 2.3rem !important;
  display: inline-block !important;

  @include respond(tablet) {
    display: inline-block !important;
  }
}

.swiper-button-left,
.swiper-button-right {
  cursor: pointer;
  z-index: 20;
}

.swpb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
