.reviews {
  @include sectionPosition;

  &_main-head {
    @include mainHeadTextPosition;
  }

  background-color: $color-main-backgroung;

  &_container {
    width: 90%;
    height: 100%;
    max-width: 110rem;

    @include respond(tablet) {
      display: block;
      width: auto;
    }

    &_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 50rem;
        margin-top: 3rem;
        position: relative;

        @include respond(tablet) {
          min-height: 10rem;
          max-width: 100%;
        }

        @include respond(SCtablet) {
          min-height: 12rem;
          max-width: 100%;
        }
      }

      &-photo {
        width: 100%;
        height: 100%;
        max-width: 100px;

      }
      
      img {
        width: 100%;
        height: auto;
        max-width: 250px;
      }

      &-name {
        margin-top: 2rem;
      }

      &-filed {
        margin-top: 5px;
      }
    }
  }
}

// SLIDERS VISIBLITY

.review-mobile-invisible {
  @include respond(tablet) {
    display: none;
  }
}

.invisible {
  display: none;

  @include respond(tablet) {
    display: block;
  }
}
